@font-face {
    font-family: 'IRANSans';
    src: url("../fonts/IRANSans Medium.ttf") format('ttf');
    src: url("../fonts/IRANSans.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'IRANSans-Bold';
    src: url("../fonts/fonnts.com-IRAN_Sans_Bold.ttf");
    src: url("../fonts/IRANSans-Bold.woff2") format('woff2');
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #1809a6;
    outline: none
}
a:hover{
    color: #da0a18;
    text-decoration: none !important
}
a:active{
    color: #000
}
li{
    list-style: none;
}
img{
    vertical-align: middle;
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'IRANSans', serif;
    font-weight: 400;
}
.site-container{
    margin-right: auto;
    margin-left: auto;
}
.header{
    .header__mobile{
        display: none;
        width: 100%;
        height: 52px;
        background-color: #00003c;
        .header__mobile--wrapper{
            /*height: 57px;*/
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .mobile__logo{
                width: 180px;
                height: 50px;
                img{
                    width: 100%;
                }
            }
            .mobile__menu{
                display: flex;
                align-items: center;
                .mobile__menu--tv{
                    margin-bottom: 5px;
                    img{
                        height: 26px;
                    }
                }
                .mobile__menu--icon{
                }
                label{
                    .menu__open-icon,
                    .menu__close-icon{
                        font-size:28px;
                        color: white;
                        padding: 10px;
                        margin: 0 5px 7px 6px;
                    }
                    .menu__close-icon{
                        display: none;
                    }
                }
                .mobile__menu--icon:checked +label .menu__close-icon{
                    display: block !important;
                }
                .mobile__menu--icon:checked +label .menu__open-icon{
                    display: none;
                }

            }
            .mobile__menu:has(.mobile__menu--icon:checked) + .mobile--nav{
                height: 370px;
                transition: height 0.5s;
            }
            .mobile--nav{
                height: 0;
                transition: height 0.5s;
                overflow: scroll;
                background-color: #00003c;
                position: absolute;
                left: 0;
                width: 100%;
                top: 52px;
                .mobile--nav__searchbox{
                    margin: 18px 10px;
                    background-color: #fff;
                    border-radius: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 35px;
                    input{
                        color: #000;
                        font: 13px iranSans;
                        height: 33px;
                        width: 90%;
                        border: none;
                        outline: none;
                        margin-right: 17px;
                        margin-left: 2px;
                        border-left: 1px solid #00003c;
                    }
                    a{
                        text-align: center;
                        align-content: center;
                        width: 35px;
                        height: 35px;
                    }
                }
                .mobile--nav__social--links{
                    direction: ltr;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    a{
                        text-align: center;
                        width: 16%;
                        margin: 10px 0;
                    }
                }
                .mobile--nav__list{
                    .mobile--subnav{
                        border-top: 1px solid #fff;
                        padding: 5px 0;
                        .mobile--subnav__item{}
                        label{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-family: 'IRANSans-Bold', serif;
                            font-size: 17px;
                            color: #fff;
                            padding: 0 15px;
                        }
                        .mobile--subnav__content{
                            display: none;
                            padding: 5px;
                            a{
                                text-wrap: nowrap;
                                padding: 5px 15px;
                                color: #fff;
                                font-family: IRANSans-Bold, serif;
                                font-size: 13px;
                            }
                        }
                        .mobile--subnav__item:checked ~ .mobile--subnav__content{
                            display: block;
                        }
                        .mobile--subnav__item:checked +label .subnav-down-icon{
                            display: none;
                        }
                        .mobile--subnav__item:checked +label .subnav-up-icon{
                            display: block !important;
                        }
                    }
                }
                .mobile--nav__other--links{
                    border-top: 1px solid #fff;
                    padding: 10px 20px;
                    margin-bottom: 10px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 15px;
                }
            }
        }
    }
    .header__desktop{
        background-color: #00003c;
        .desktop--logo{
            position: relative;
            background: url("../images/1200 (1).gif") no-repeat;
            height: 120px;
            .desktop__dates{
                display: block;
                color: #fff;
                position: absolute;
                left: 139px;
                top: 50px;
                text-align: left;
                font-weight: 700;
                padding-left: 3px;
                font-size: 12px;
            }
        }
        .desktop--nav{
            background: #00003c;
            height: 37px;
            .desktop--nav__border {
                width: 100%;
                height: 3px;
                position: absolute;
                right: 0;
                top: 157px;
                background: #cacaca;
            }
            .desktop--nav__wrapper{
                display: flex;
                justify-content: space-between;
                .desktop--nav__items{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .desktop--subnav{
                        height: 50px;
                        z-index: 1;
                        .desktop--subnav__btn{
                            border: none;
                            outline: none;
                            background-color: inherit;
                            cursor: pointer;
                            border-left: 1px solid #dbdbdb;
                            color: #fff;
                            padding: 0 12px;
                            font-family: 'IRANSans-Bold', serif;
                            font-size: 14px;
                        }
                        .desktop--subnav__btn:hover {
                            background-color: #cacaca;
                            color: #00003c;
                        }
                        .desktop--subnav__content{
                            display: none;
                            position: absolute;
                            z-index: 1;
                            top: 165px;
                            right: 0;
                            left: 0;
                            min-height: 40px;
                            a{
                                text-wrap: nowrap;
                                padding: 0 10px;
                                font-size: 12px;
                                color: #000;
                            }
                        }
                        .desktop--subnav__content a:hover{
                            color: #d10000;
                            cursor: pointer;
                        }
                    }
                    .desktop--subnav:hover .desktop--subnav__content{
                        display: block;
                    }
                    .desktop--subnav__background{
                        background-color: #dbdbdb;
                        position: absolute;
                        left: 0;
                        top: 160px;
                        width: 100%;
                        height: 0;
                        transition: height 0.5s;
                        transition-delay: 1s;
                    }
                }
                .desktop--nav__items :first-child button{
                    padding-right: 8px !important;
                    color: #d10000 !important;
                }
                .desktop--nav__items :nth-child(12) button {
                    border: none !important;
                }
                .desktop--nav__items :first-child button:hover{
                    background-color: #00003c !important;
                    color: #d10000 !important;
                }
                .desktop--nav__items :nth-child(7) .desktop--subnav__content{
                    background-color: #dbdbdb;
                }
                .desktop--nav__items:hover .desktop--subnav__background{
                    height: 50px;
                    transition: height 0.5s;

                }
                .desktop--nav__tv-link{
                    cursor: pointer;
                    margin-left: 6px;
                    margin-bottom: 6px;
                    img{
                        height: 26px;
                    }
                }
            }
        }
    }
}









