@font-face {
    font-family: 'IRANSans';
    src: url("../fonts/IRANSans Medium.ttf") format('ttf');
    src: url("../fonts/IRANSans.woff2") format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'IRANSans-Bold';
    src: url("../fonts/fonnts.com-IRAN_Sans_Bold.ttf");
    src: url("../fonts/IRANSans-Bold.woff2") format('woff2');
    font-weight: 700;
}



a {
    text-decoration: none;
    color: #1809a6;
    outline: none
}

a:hover {
    color: #da0a18;
    text-decoration: none !important
}

a:active {
    color: #000
}

li{
    list-style: none;
}

img {
    vertical-align: middle;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body * {
    direction: rtl;
}

body{
    font-family: 'IRANSans';
    font-weight: 400;

}
.site-container{
    margin-right: auto;
    margin-left: auto;
}
.mobile-nav{
    display: none;
    width: 100%;
    height: 52px;
    background-color: #00003c;
}
.mobile-nav__wrapper{
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.mobile-nav__logo-link img{
    margin-top: 4px;
    margin-right: 10px;
    width: 85%;
    height: 40px;
}
.mobile-nav__left-wrapper{
    display: flex;
}
.mobile-nav__tv-link{
    height: fit-content;
    padding: 0;
    border: 0;
    margin: 10px 3px 6px 6px;
}
.mobile-nav__tv-link img {
    height: 27px;
}
.mobile-nav__checkbox:checked +label .nav__close-icon{
    display: block !important;
}
.mobile-nav__checkbox:checked +label .nav__open-icon{
    display: none;
}
.mobile-nav__left-wrapper:has(.mobile-nav__checkbox:checked) + .mobile-nav__menu{
    display: block;
}
.mobile-nav__menu{
    display: none;
    overflow: scroll;
    background-color: #00003c;
    position: absolute;
    width: 100%;
    max-height: 360px;
    z-index: 999;
    top: 48px;
}
.mobile-nav__searchbox-parent{
    margin-top: 8px;
    padding: 10px 10px 9px;
    width: 100%;

}
.mobile-nav__searchbox{
    width: 100%;
    background-color: #fff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 35px;
}
.mobile-nav__searchbox input{
    color: #000;
    font: 13px / 30px iranSans;
    height: 33px;
    width: 90%;
    border: none;
    outline: none;
    margin-right: 17px;
    margin-left: 2px;
    border-left: 1px solid #00003c;
}
.mobile-nav__searchbox a{
    text-align: center;
    align-content: center;
    width: 35px;
    height: 35px;
}
.mobile-nav__social-links{
    text-align: left;
    width: 100%;
    margin: 0 auto;
    height: 121px;
}
.mobile-nav__social-links a{
    text-align: center;
    display: block;
    float: left;
    width: 16.66%;
    padding: 6px 0 0;
    height: 35px;
    margin: 9px 0;
}
.mobile-subnav{
    border-top: 1px solid #fff;
    padding: 5px 0;
}
.mobile-subnav label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: 'IRANSans-Bold', serif;
    font-size: 17px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #00003c;
    width: 100%;
    padding: 0 15px;
}
.mobile-subnav__content{
    display: none;
    padding: 5px;
}

.mobile-subnav__link{
    text-wrap: nowrap;
    padding: 5px 15px 5px 25px;
    color: #fff;
    font-family: IRANSans-Bold;
    font-size: 14px;
}
.mobile-subnav__checkbox:checked ~ .mobile-subnav__content{
    display: block;
}
.mobile-subnav__checkbox:checked +label .subnav-down-icon{
    display: none;
}
.mobile-subnav__checkbox:checked +label .subnav-up-icon{
    display: block !important;
}
.mobile-nav__menu-footer{
    border-top: 1px solid #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.header{
    background-color: #00003c;
}
.header__top{
    width: 100%;
    height: 120px;
}

.header__logo{
    position: relative;
    background: url("../images/1200 (1).gif") no-repeat;
    height: 120px;
}
.header__dates{
    display: block;
    color: #fff;
    position: absolute;
    left: 139px;
    top: 50px;
    text-align: left;
    font-weight: 700;
}
.header__fa-date{
    font-size: 10px;
    height: 20px;
    overflow: hidden;
    padding-left: 3px;
}
.header__en-date{
    font-size: 12px;
    height: 21px;
    overflow: hidden;
    padding-left: 3px;

}

.navbar{
    width: 100%;
    background: #00003c;
    height: 37px;
}

.navbar__bottom-border {
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    top: 157px;
    background: #cacaca;
    background: linear-gradient(to bottom, rgba(202, 202, 202, 1) 0%, rgba(219, 219, 219, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca',endColorstr='#dbdbdb',GradientType=0);
}
.navbar__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar__tv-link{
    cursor: pointer;
    margin-left: 6px !important;
    margin-bottom: 6px;
}
.navbar__tv-link img{
    height: 27px;
}

.navbar__menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 3;
}
.subnav, .subnav-economy{
    height: 40px;
    z-index: 1000;
}

.subnav-1 > button{
    padding-right: 16px !important;
    color: #d10000 !important;
}
.navbar__menu div:last-child button {
    border: none;
}

.subnav__btn{
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    border-left: 1px solid #dbdbdb;
    color: #fff;
    display: block;
    margin-top: 3px;
    margin-bottom: 6px;
    padding: 0 12px 0 13px;
    position: relative;
    z-index: 100;
    line-height: 2;
    font-family: 'IRANSans-Bold', serif;
    font-size: 14px;
    text-wrap: nowrap;
}

.subnav__btn:hover {
    background-color: #cacaca;
    color: #00003c;
}
.subnav-1 button:hover{
    background-color: #00003c !important;
    color: #d10000 !important;
}


.subnav__content , .subnav__content-lg{
    display: none;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
    z-index: 100;
    min-height: 40px;
}
.subnav__content-lg{
    background-color: #dbdbdb;
}
.subnav__link {
    padding: 0 23px 0 4px;
    font-size: 12px;
    color: #000 ;
    z-index: 1;
}
.subnav__link:hover{
    color: #d10000;
    cursor: pointer;
}

.subnav:hover .subnav__content{
    display: block;
    z-index: 100;
}

.subnav__bg{
    background-color: #dbdbdb;
    position: absolute;
    left: 0;
    top: 160px;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
    transition-delay: 1s;
}

.navbar__menu:hover .subnav__bg{
    height: 50px !important;
    transition: height 0.5s;

}





