@media (min-width: 1200px) {
    .site-container {
        width: 1200px;
    }
}
@media (width: 1200px) {
    .navbar__container {
        padding-right: 5px;
        padding-left: 5px;
    }
}
@media (max-width: 1199px) {
    .header__logo{
        background: url("../images/970.gif") no-repeat center !important;
    }
    .site-container {
        width: 970px;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .site-container {
        width: 970px;
    }
    .subnav button {
        line-height: 2;
        padding: unset !important;
        border: unset !important;
    }
    .subnav button span {
        border-left: 1px solid #dbdbdb;
        padding: 0 6px !important;
    }
}
@media (max-width: 991px) {

    .header__logo{
        background: url("../images/750.gif") no-repeat center !important;
    }
    .subnav {
        padding: unset !important;
        border: none;
    }
    .subnav button span {
        font-size: 10px;
        border-left: 1px solid #dbdbdb;
        padding: 0 6px !important;
    }
    .navbar__tv-link img {
        height: 22px !important;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .site-container {
        width: 750px;
    }
    .navbar__menu div:first-child button {
        padding: unset !important;
    }
    .subnav__btn {
        padding: unset !important;
    }
    .subnav button {
        font-size: 10px !important;
        padding: unset !important;
        border: unset !important;
    }
    .site-container {
        width: 750px;
    }
}

@media only screen and (max-width: 767px) {
    .header{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .mobile-nav__logo-link{
        width: 200px;
        height: 50px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .site-container{
        width: 450px;
    }
}