@media (min-width: 1200px) {
    .site-container {
        width: 1200px;
    }
}
@media (max-width: 1199px) {
    .desktop--subnav__btn {
        padding: 0 6px !important;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .desktop--logo{
        background: url("../images/970.gif") no-repeat center !important;
    }
    .site-container {
        width: 970px;
    }
}
@media (max-width: 991px) {
    .desktop--nav__tv-link img {
        height: 22px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .desktop--logo{
        background: url("../images/750.gif") no-repeat center !important;
    }
    .site-container {
        width: 750px;
    }
    .desktop--subnav__btn {
        font-size: 11px !important;
    }
    .desktop--nav__items:hover .desktop--subnav__background{
        height: 80px !important;
        transition: height 0.5s;

    }
}

@media only screen and (max-width: 767px) {
    .header__desktop{
        display: none;
    }
    .header__mobile{
        display: block !important;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .site-container{
        width: 450px;
    }
}
@media (min-width: 370px) and (max-width: 479px) {
    .site-container{
        width: 370px;
    }
    .menu__open-icon{
        padding: 10px 5px;
    }
}

@media (min-width: 320px) and (max-width: 369px) {
    .mobile__logo{
        width: 160px !important;
        height: 40px !important;
    }
}